<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Google Maps JavaScript API Example: Map Markers</title>
    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script type="text/javascript">
    
    function initialize() {
        var myOptions = {
           center: new google.maps.LatLng(41.25917,-96.06),
           zoom: 11,
           mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        //map.setCenter(new GLatLng(41.252363, -95.997988), 13);
        [% c.stash.points_js %]
      }

    </script>
  </head>
  <body onload="initialize()" onunload="GUnload()">
     <a href="https://foursquare.com/deafferret">https://foursquare.com/deafferret</a>
     <div id="map_canvas" style="width:1000px;height:700px;"></div>
  </body>
</html>
