Addhandler cgi-script .py
Options +ExecCGI -Indexes -MultiViews +FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine on
# RewriteBase /node
# RewriteRule ^(.*) http://localhost:8088/safeomaha/$1 [P,L]

</IfModule>
